<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Opções(Fornecedor)
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/fornecedores/cadastrar">Cadastrar fornecedor</a></li>
                        <li><a class="dropdown-item" href="/fornecedores">Relatório de fornecedores</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
            
 
                       
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Opções(Produtos)
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/vendas/cadastrar">Cadastrar produtos</a></li>
                        <li><a class="dropdown-item" href="/vendas">Relatório de produtos</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
            
 
                       
                    </ul>
                    
                    
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Opções(Usuarios)
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/usuarios/cadastrar">Cadastrar usuario</a></li>
                        <li><a class="dropdown-item" href="/usuarios/login">Login de usuario</a></li>
                        <li><a class="dropdown-item" href="/usuarios">Relatório de usuario</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
            
                        <a role="button" name="logout" href="/logout" class="btn btn-outline-secondary" style="margin-left: 0.7%;">Logout</a>
                       
                    </ul>
                </li>
                
            
            </ul>
            
        </div>
    </div>
</nav>