<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("../partials/cabecalho.ejs") %>
</head>
<body>
    <div class = "container">
 <form action="/vendas" method="post">

    <div class="mb-3">
        <h2>Cadastro de produtos</h2><br>
        <input type = "hidden" required name = "_id" value= "<%= venda._id %>" > 
        <label class="form-label"> ID: </label>
        <input <% if(venda.id != undefined) {%> readonly <% } %> value="<%=venda.id %>" required class="form-control" name="id">
     </div>
     <div class="mb-3">
    <label class="form-label"> NOME: </label>
     <input type="text" required class="form-control" name="nome">
     </div>
     <div class="mb-3">
        <label class="form-label"> QUANTIDADE: </label>
     <input type="number"class="form-control" name="quant">
     </div>
    
 
     <div>
        <table>
            <tr>
            <td>
                <div>
                    <button type="submit" class="btn btn-primary" >Salvar</button>
                </div>
            </td>
            <td>
                <div>
                    <a href = "/">
                        <input type = "button" class="btn btn-primary" value = "voltar"/>
                    </a>
                </div>
            </td>       
            </tr>
        </table>
    </div>
 </form>

<%- include("../partials/rodape.ejs") %>
</div>
</body>
</html>